body{
margin:0;
background:#111;
display:flex;
font-family:sans-serif;
color:white;
height:100vh;
}

.sidebar{
width:300px;
padding:20px;
background:#1b1b1b;
overflow:auto;
}

.canvas-area{
flex:1;
display:flex;
justify-content:center;
align-items:center;
}

canvas{
border:2px solid #444;
background:#000;
max-width:90%;
max-height:90%;
}

.frames{
display:flex;
gap:10px;
margin-bottom:15px;
}

.frame-thumb{
width:70px;
cursor:pointer;
border:2px solid transparent;
}

.frame-thumb.active{
border-color:gold;
}

input[type=range]{
width:100%;
margin-bottom:15px;
}

button{
width:100%;
padding:12px;
cursor:pointer;
}